.main__screen {
  max-width: 100%;
}
.user__profile {
  display: flex;
  flex-wrap: wrap;
}
.user__avatar {
  width: 100px;
}
.user__description {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.user__description__item {
 color:green  ;
}

.user__name {
  margin: 10px 0;
}
.user__photo {
  width: 100px;
}
